<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aeropuertos</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
		<property name="hibernate.default_schema">aeropuertos</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.company.Modelo.Pais"></mapping>
		<mapping class="com.company.Modelo.Estado"></mapping>
		<mapping class="com.company.Modelo.Ciudad"></mapping>
		<mapping class="com.company.Modelo.Cabina"></mapping>
		<mapping class="com.company.Modelo.Aeropuertos"></mapping>
		<mapping class="com.company.Modelo.Ruta"></mapping>
		<mapping class="com.company.Modelo.Precio"></mapping>
		<mapping class="com.company.Modelo.Cabin_x_ruta"></mapping>
		<mapping class="com.company.Modelo.Usuario"></mapping>
	</session-factory>
</hibernate-configuration>